<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="container_16 every-thing">
    <header> <!-- Defining the header section of the page with the appropriate tag -->
      <hgroup class="grid_8">
       <h1 class="logo">Rails CRM</h1>
       </hgroup>
       <nav class="grid_8"> <!-- The nav link semantically marks your main site navigation -->
         <ul>
           <li><%= link_to "Home",root_path %></li>
           <li><%= link_to "Account",accounts_path %></li>
           <li><a href="">Blog</a></li>
           <li><a href="#">Signup/Signin</a></li>
         </ul>
        </nav>
       <span class="clear" />
       </header>
    <div class="line"></div>
    <div class="content grid_16">
      
      <div id="main_content" class="<%= main_content_css_class %>">
        <%=raw flash_messages %>
        <%= yield %>
      </div>
      <div id="sidebar" class="<%= sidebar_css_class %>">

        <%= yield :sidebar %>
      </div>
      <%= clearing_span %>
    </div>
  </section>
  <%= clearing_span %>
  <footer class="container_16">
  <div class="line"></div>
  <p class="grid_16">copy right </p>
  </footer>
</body>
</html>
