%html
  %head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container_16.every-thing
      #wrapper
        .top-header-highlight
        .top-header.grid_16
          #top-header-logo.grid_13 CRM
          .grid_3.top-header-links
            #top-header-links
              - if current_user
                %a{:href => "#"}
                  = image_tag 'user_16.png'
                  Amar Daxini
                |
                %a{:href => "#"} Logout
              - else
                = link_to "Signup" ,new_account_path
                = link_to "Login" ,"#"
          %span.clear
        %span.clear
        .main-menu-bar
          .menu-bar
            %ul{:class => active_class}
              %li
                = link_to "Home",root_path,:class=>"home"
              %li
                = link_to "Blog","#",:class => "blog"
              %li
                - if current_user
                  = link_to "Account",account_path(current_user.account),:class => "account"
                - else
                  = link_to "Account",accounts_path,:class => "account"
            
        .highlight-menu

        #content
          %div.grid_16
            %div#main-content{:class=>"#{main_content_css_class}"}
              = yield
              
            %div#sidebar{:class=>"#{sidebar_css_class}"}
              = yield :sidebar
          = clearing_span
        .push

  .container_16.footer-wrapper
    #footer
      // Footer
      = yield :javascripts
      %p Footer
