%html
  %head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container_16
      #wrapper
        .top-header-highlight
        .top-header.grid_16
          #top-header-logo.grid_13 CRM
          .grid_3.top-header-links
            #top-header-links
              - if current_user
                %a{:href => "#"}
                  = image_tag 'user_16.png'
                  Amar Daxini
                |
                %a{:href => "#"} Logout
              - else
                = link_to "Signup" ,new_account_path
                = link_to "Login" ,"#"
          %span.clear
        %span.clear
        .main-menu-bar
          .grid_6
          .menu-bar
            %ul{:class => active_class}
              %li
                = link_to "Home",root_path,:class=>"home"
              %li
                = link_to "Blog","#",:class => "blog"
              %li
                = link_to "Account","#",:class => "account"
        .highlight-menu
        #content
          %div.grid_16
            %div{:class=>"#{main_content_css_class}"}
              = yield

            %div{:class=>"#{sidebar_css_class}"}
              = yield :sidebar
          = clearing_span
        .push
     
  .container_16.footer-row
    #footer
      // Footer
      = yield :javascripts
      %p Footer
