= form_for(@account,:html => { :class =>'data-form' }) do |f|
  - if @account.errors.any?
    #error_explanation
      %h2
        = pluralize(@account.errors.count, "error")
        prohibited this account from being saved:
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :website
    %br/
    = f.text_field :website
  .field
    = f.label :owner_id
    %br/
    = f.number_field :owner_id
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit
